<form [formGroup]="myFormGroup" (ngSubmit)="signupForm()">
  <div formGroupName="account">
    <div *ngIf="myFormGroup.errors" class="alert alert-danger">
      Username & Password is invalid
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" id="username" class="form-control" (change)="usernameChange()">

      <div *ngIf="username.pending"> Checking for username ....</div>
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">

        <div *ngIf="username.errors.isUsernameAlreadyExists"> Username must be unique</div>
        <div *ngIf="username.errors.cannotContainSpace"> Username must not contain space</div>
        <div *ngIf="username.errors.required"> Username is required</div>
        <div *ngIf="username.errors.minlength"> Username needs
          {{username.errors.minlength.requiredLength - username.errors.minlength.actualLength }} more characters </div>
      </div>
    </div>


    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password" class="form-control">
    </div>
  </div>

  <br>
  <br>

  <div>
      <label for=""> Contact Methods </label>
      <input type="text" class="form-control" 
      #method
      (keyup.enter)="addContactMethod(method)">
  </div>

  <div>
      <ul class="list-group" *ngFor="let method of contactMethods.controls">
          <li class="list-group-item" 
          (click)="removeMethod(method)"> {{method.value}} </li>
      </ul>
  </div>


  <br>
  <br>

  <button class="btn btn-primary" type="submit">Submit</button>

</form>
