<form #f="ngForm" (ngSubmit)="submitForm(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">

    <div class="alert alert-danger" *ngIf="contact.touched && !contact.valid"> Contact Form is not valid </div>
    <div class="form-group">
      <label for="fName">Name</label>
      <input required pattern="john" minlength="4" maxlength="10" ngModel name="fname" #fname="ngModel" id="fName"
        type="text" (change)="logName(fname)" class="form-control">

      <div class="alert alert-danger" *ngIf="fname.touched && !fname.valid">
        <div *ngIf="fname.errors.required"> First Name is required </div>
        <div *ngIf="fname.errors.minlength"> First Name should be minimum {{ fname.errors.minlength.requiredLength }}
          characters </div>
        <div *ngIf="fname.errors.pattern"> First Name doesn't follow the pattern</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" #comment="ngModel" cols="50" rows="8" type="text" id="comment"
      class="form-control">
           </textarea>
  </div>

  <div class="checkbox">
      <label for="">
          <input type="checkbox" ngModel name="isSubscribed">
          Subscribe Now
        </label>
    </div>

    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option *ngFor="let method of contactMethods" [ngValue]="method">
                            {{ method.name }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Contact Method - Radio</label>
    <div *ngFor="let method of contactMethods" class="radio">
        <label>
        <input ngModel type="radio" name="contactMethod" [value]="method.id"> 
            {{ method.name }}
        </label>
    </div>
</div>
    <br>
    <br>
    <div> {{  f.value | json }} </div>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>
