<h3> Courses </h3>

<!-- 
<input type="text"
 #name
 placeholder="Enter Name"
 (keyup)="onKeyUp($event)">

<br> <br>

 <input type="text"
 #address
 placeholder="Enter Address"
 (keyup.enter)="onAddressKeyUp(address.value)">
 -->


 <div class="card"  style="width: 38rem;" id="coursesdiv">

    <button class="btn btn-primary" (click)="addNewCourse()" > ADD A COURSE </button>
<ul class="list-group list-group-flush" >
    <li class="list-group-item" *ngFor="let course of courses; let i = index; trackBy: trackByCourses ">
       {{ i }} :  
       {{course.id | number:'3.1-1' }}.    
       {{ course.name | uppercase  }} 
       USD($) {{course.price | number:'.1-1' }} 
       {{ course.ratings |  number: '1.1-1'}} 


       <div> {{ course.releaseDate | date: 'medium' }}</div>

       <div>
        {{ course.description | summary:100 }}
       </div>
        <app-bookmark [courseName]="course.name" [isBookmarked]="course.isBookmarked" (change)="bookmarkChange($event)">

        </app-bookmark>

        <button class="btn btn-danger"   (click)="removeCourse(course)"> Remove </button>

    </li>
</ul>

</div>

<!-- 
<div class="container">
<div class="row" style="background-color: cadetblue;">
    <div class="col-sm" style="border: 1px solid red;">
        SASS - Syntacticaly Awesome Style Sheets

    </div>
    <div class="col-sm" style="border: 1px solid blue;">

   SASS


    </div>
    <div class="col-sm">

        LESS


    </div>
</div>
</div> -->