<div style="border: 2px solid darkgray" (click)="bookMarkDivClicked()">

    <button type="button" class="btn btn-outline-primary" 
  [class.active]="isBookmarked"
   [class.btn-success]="isBookmarked"
    (click)="bookmarkTheCourse($event)"> 
    Bookmark 
</button>
  <span [style.color]="isBookmarked ? 'blueviolet': grey" *ngIf="isBookmarked"> Bookmark of {{ courseName }} is done
    !</span>
  <span [style.color]="isBookmarked ? 'blueviolet': grey" *ngIf="!isBookmarked"> Bookmark of {{ courseName }} is
    removed!</span>
</div>
