<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Home</a>
                </li>
                <li   class="nav-item" aria-current="page" >
                    <a class="nav-link" routerLinkActive="active current" [routerLink]="['/posts', 'name', ]">Posts</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLinkActive="active current"  routerLink="/courses" href="#">Courses</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
