<!-- <h2>WELCOME TO ANGULAR MATERIAL</h2>

<h4> Structure Directive - Switch</h4>

        Do you want to do tranfer via IMPS ?
        <span [ngSwitch]="paymentMode">
        <p *ngSwitchCase="'IMPS'">
            IMPS
        </p>
        <p *ngSwitchCase="'NEFT'">
            NEFT
        </p>
        <p *ngSwitchDefault>
            RTGS
        </p>
        </span>


    <button *ngIf="flag then headline else content"  mat-raised-button color="primary">Primary</button>


    <ng-template #headline>
        <h3> Angular has released 11.0 Version..... </h3>
    <section>
        <div class="example-label">Stroked</div>
        <div class="example-button-row">
          <button mat-stroked-button>Basic</button>
          <button mat-stroked-button color="primary">Primary</button>
          <button mat-stroked-button color="accent">Accent</button>
          <button mat-stroked-button color="warn">Warn</button>
          <button mat-stroked-button disabled>Disabled</button>
          <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
    </ng-template>


<ng-template #content>
   <div>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</div> 
</ng-template>

<div>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>

<div>
    <h3>MAT PROGRESS BAR </h3>
    <mat-progress-bar mode="buffer" [value]="progressValue" [bufferValue]="bufferValue" color="accent" ></mat-progress-bar>

</div>


<br><br><br>

<div>
    <h3>MAT SPINNER </h3>
    <mat-spinner></mat-spinner>

</div>


<br><br><br>



<div>
    <h3>MAT ICONS </h3>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>

</div>


<br><br><br>
<div>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip>
        <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip>
      </mat-chip-list>
      
</div>

-->
<!-- 
 <input 
[appInputFormat]='format'
type="text" 
placeholder="Enter Your Name" 
>  -->


<app-navbar></app-navbar>
<router-outlet></router-outlet> 
