

<input type="text" 
placeholder="Enter Post Title"
 class="form-control"
 #title
 (keyup.enter)="addNewPost(title)">
 <br>
<ul class="list-group">
    <li *ngFor="let post of posts" 
    class="list-group-item"> 

    <a [routerLink]="['/post-detail', post.id, post.title]" 
    [queryParams]="{userId: post.userId, page: 1, offset:20}"> View Detail</a>

    <button
     class="btn btn-primary btn-sm"
     (click)="updatePost(post)">Update</button>

    {{post.title}}

    <button 
    (click)="deletePost(post)"
    class="btn btn-danger btn-sm">
        Delete
    </button> 
 </li>
</ul>